html{
    margin: 0 8% 2% 8%;
    font-family: "Inter", sans-serif;
    color: black;
}


header{
    text-align: center;
    line-height: 100%;
}

ul.hr{
    list-style: none;
    margin: 0; padding: 0;
}

ul.hr li {
    display: inline-block;
    padding: 0 5% 0 5%;
}

a{
    text-decoration: none;
    color: black;
}

.main{
    width: 1297px;
    margin-left: auto;
    margin-right: auto;
}

.main_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img{
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.but{
    margin: 0 auto;
    padding: 10px 10px;
    display: block;
    width: 180px;
    font-size: 16pt;
    color: white;
    text-align: center;
    border: 3px solid black;
    cursor: pointer;
}
.but-comment{
    margin: 0 auto;
    padding: 10px 10px;
    display: block;
    height: 40px;
    width: 180px;
    font-size: 16pt;
    color: white;
    text-align: center;
    border: 3px solid black;
    cursor: pointer;
}

h1{
    font-size: 56pt;
}

h2{
    font-size: 24pt;
}

h3{
    font-size: 20pt;
}

p{
    font-size: 16pt;
    font-weight: 300;
}

p.title{
    font-size: 12pt;
    font-style: italic;
    font-weight: 300;
    width: 60%;
}

.textcols {
	white-space: nowrap;
	margin-top: 5%;
    margin-bottom: 5%;
}
.textcols-item {
	white-space: normal;
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
.textcols .textcols-item:first-child {
	margin-right: 4%;
}



.grid-card{
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}

.card{
    padding: 30px;
    border: 2px solid black;
}

form{
    width: 740px;
    height: 498px;
}

input[type=text]{
    width: 200px;
    font-family: "Inter", sans-serif;
    padding: 5px 5px;
}

input[type=email]{
    width: 200px;
    font-family: "Inter", sans-serif;
    padding: 5px 5px;
}

input[type=text]{
    font-family: "Inter", sans-serif;
    border: 1px line #bbbbbb;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 0;
    height: 120px;
    width: 340px;
    background: none;
  }