html{
    margin: 0 8% 2% 8%;
    font-family: "Inter", sans-serif;
    color: black;
}


header{
    text-align: center;
    line-height: 100%;
}

ul.hr{
    list-style: none;
    margin: 0; padding: 0;
}

ul.hr li {
    display: inline-block;
    padding: 0 5% 0 5%;
}

a{
    text-decoration: none;
}

div{
    margin-top: 5%;
    margin-bottom: 5%;
}

.main{
    width: 1297px;
    margin-left: auto;
    margin-right: auto;
}

button{
    margin: 0 auto;
    display: block;
    height: 68px;
    width: 180px;
    font-size: 16pt;
    color: white;
    border: 2px solid black;
}

h1{
    font-size: 56pt;
}

h2{
    font-size: 24pt;
}

h3{
    font-size: 20pt;
}

p{
    font-size: 16pt;
    font-weight: 300;
}

p.title{
    font-size: 12pt;
    font-style: italic;
    font-weight: 300;
    width: 60%;
}

.textcols {
	white-space: nowrap;
}
.textcols-item {
	white-space: normal;
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
.textcols .textcols-item:first-child {
	margin-right: 4%;
}