{% extends 'base.html' %}

{% block content %}
<div class="textcols">
	<div class="textcols-item">
        <p><strong style="font-weight: 500;">конспирология</strong> — то же, что теория заговора; объяснение событий как&nbsp;произошедших в&nbsp;результате заговора могущественных групп, действующих злонамеренно и, как правило, политически мотивированных&nbsp;<a href="https://ru.wiktionary.org/wiki/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B8%D1%80%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F" target="_blank">[1]</a>.</p>
        <hr>
        <p>конспирологические теории представляют собой попытки объяснить сложные социальные и&nbsp;политические процессы через призму тайных сговоров. эти&nbsp;теории основываются на&nbsp;убеждении, что&nbsp;события и&nbsp;явления в&nbsp;мире контролируются скрытыми группами людей с&nbsp;тайными целями.</p>
        <p>в последние десятилетия влияние конспирологических теорий значительно усилили интернет и социальные сети. если раньше подобные идеи циркулировали в ограниченных кругах, то&nbsp;сейчас они распространяются мгновенно и&nbsp;на&nbsp;глобальном уровне. этот процесс привёл к&nbsp;возникновению таких феноменов, как&nbsp;QAnon, где&nbsp;сторонники теории заговора используют цифровые платформы для&nbsp;обмена идеями.</p>
        <hr>
        <p>собственно, об этом и наш блог.</p>
    </div>
    <div class="textcols-item">
        <p>Основанные на мифологических постулатах квазинауки «новых правых», конспирология и ариософия являются опасными симптомами развития современного общественного организма.</p>
        <p class="title">В. Э. Багдасарян, «Проблема мифологизации истории в&nbsp;отечественной литературе 1990-х гг», 2000 г.</p>
    </div>
</div>
{% endblock %}
