{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class = "grid-card">

{% for el in posts %}
    <div class = "card">
        <h3>{{el.name}}</h3>
        <p>{{el.description}}</p>
        <a href="/post">подробнее</a>
    </div>
{% endfor %}
    <div class="but-comment"><a href="comment/">оставить комментарий</a></div>
</div>

<h2>Проверенные комментарии</h2>

    {% if comments %}
        <ul>
            {% for comment in comments %}
                <li>
                    <strong>{{ comment.user_name }} ({{ comment.email }}):</strong>
                    <p>{{ comment.comment }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет проверенных комментариев.</p>
    {% endif %}

{% endblock %}