{% extends 'base.html' %}

{% block content %}
<div class='main'>
        <img src="img/my_img.jpg" alt="Фотография красивого заката" width="500" height="300">
        <div class="button"><a href="catalog/">узнать тайны</a></div>
</div>
<div class="textcols">
	<div class="textcols-item">
        <p><strong style="font-weight: 500;">конспирология</strong> — то же, что теория заговора; объяснение событий как&nbsp;произошедших в&nbsp;результате заговора могущественных групп, действующих злонамеренно и, как правило, политически мотивированных&nbsp;<a href="https://ru.wiktionary.org/wiki/%D0%BA%D0%BE%D0%BD%D1%81%D0%BF%D0%B8%D1%80%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F" target="_blank">[1]</a>.</p>
    </div>
    <div class="textcols-item">
        <p>Основанные на мифологических постулатах квазинауки «новых правых», конспирология и ариософия являются опасными симптомами развития современного общественного организма.</p>
        <p class="title">В. Э. Багдасарян, «Проблема мифологизации истории в&nbsp;отечественной литературе 1990-х гг», 2000 г.</p>
    </div>
</div>
{% endblock %}

