{% extends 'base.html' %}
{% load static %}

{% block content %}

<img src="{% static 'rasputin 1.png' %}" class="main_img">
<h1>Колдун имераторской семьи: <br> вся правда о Распутине</h1>

<div class="textcols">
	<div class="textcols-item">
        <p>Распутин - однозначно самая загадочная фигура в истории России. Его считали колдуном, серым кардиналом, тайно управляющим страной и даже любовником императрицы. Об этом даже пела группа <a href="https://music.yandex.ru/album/1528365/track/14047980" target="_blank"> Boney M.</a> </p>
        <p>Распутина убили в декабре 1916 года. Полагали, что так можно спасти Росссию, но оказалось, что смерть "старца" лишь приблизила конец империи... так кем же был Распутин на самом деле?</p>
    </div>
    <div class="textcols-item">
        <p>В начале XX века все в Российской Империи увлекались мистикой. Богатая и жадная до развлечений публика постоянно устраивала
            спиритические сеансы, общалась с премудрыми старцами и целителями, верила в потусторонние силы. Столицей этих развлечений был,
            конечно же, Санкт-Петербург, в котором помимо мистики было много других развлечений. Например, мужские травести шоу. Именно в
            такую атмосферу попал простой сибирский крестьянин Григорий Распутин. Он рано обратился к религии, странствовал по святым местам,
            побывал даже в Иерусалиме. Он заводил знакомства с настоятелями монастырей и другими странниками. Так постепенно Распутин зарабатывал
            репутацию и известность в религиозной среде. В Петербурге, благодаря своим связам, Распутин быстро познакомился с религиозной
            верхушкой России. Его представили нескольким извесным епископам. Сибирского крестьянина быстро заметили и в светском обществе.
            Неудивительно. Распутин был высок, могуч, имел пронзительный взгляд и густую бороду. Всем своим видом он давал понять, насколько
            приближен к господу.</p>
        <p>На тот момент ему 34 года, но он прибавил к своему возрасту несколько лет, чтобы сойти за старца и стал постоянным
            гостем самых известных Петербургских салонов. Все хотели познакомиться с отшельником, умеющим предсказывать будущее, а Григорий только
            и рад был поддерживать такую репутацию.</p>
        <p>Роковое для жизни старца и страны событие произошло чере два года. Старца представили дочерям черногоского князя. Они тоже любили мистические
            истории, а вместе с тем были близкими подругами самой императрицы Александры Федоровны. Тогда-то о Распутине и узнали в царской семье.</p>
        <p>Императрица была женщиной глубоко религиозной, склонной к мистическому мышлению. Она долго не могла родить наследника. Потом оказалось,
            что долгожданный цесаревич Алексей был тяжело болен гемофилией. В те годы было невозможно даже немного облегчить страдания мальчика.
        Александра Федоровна мучалась от чувства виныи все больше ударялась по мыслям о сверхъестветсвенном. Распутин был далеко не первым человеком,
            к которому Императрица обратилась за помощью.</p>

    </div>
</div>

{% endblock %}